Host mongodb
    HostName 20.61.216.165
    User azureuser
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no

Host vm-1
    HostName 10.0.1.6
    User azureuser
    ProxyJump mongodb
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no

Host vm-2
    HostName 10.0.1.5
    User azureuser
    ProxyJump mongodb
    IdentityFile ~/.ssh/id_rsa
    StrictHostKeyChecking no
